{{define "base"}}
    <!doctype html>
    <html lang='en'>
        <head>
            <meta charset='utf-8'>
            <title>{{template "title" .}}</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
          </head>
        <body>
            <nav class="navbar navbar-expand-lg navbar-light bg-light ps-5 pe-5">
                <div class="container-fluid p-2 ps-5 pe-5">
                  <a class="navbar-brand" href="/">AITU news</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" href="/?category=1">For students</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/?category=2">For staff</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/?category=3">For applicants</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/?category=4">For researches</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div>
                  <button type="button" class="btn btn-primary" onclick=redirectCreate()>
                    + Create new
                  </button>
                </div>
              </nav>

            
            <main class="m-2 ms-5 me-5 ps-5 pe-5">
                {{template "main" .}}
            </main>
            
            <footer class="m-2 ms-5 me-5 ps-5 pe-5">
                {{template "footer" .}}
            </footer>
            
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
            <script src="../static/js/main.js" />
          </body>
    </html>
{{end}}
